 <div>
	<p>This is a database of known bugs and false positives in real software projects. So far, we support only the <b>Linux Kernel 2.6.28</b> (<a href="http://claburedb.fi.muni.cz/pkg.html">package</a>) and selected kinds of bugs. The main purpose of the database is to support research and development in the area of bug-finding techniques and tools by providing data for their automatic evaluation.</p>
	<p>We are currently focused on filling the database. We plan to support more software projects and more kinds of bug later. This web interface of the database is also an interim one.</p>
	<p>There is also a page with <a href="http://claburedb.fi.muni.cz/doc.html">documentation</a> (including <a href="http://claburedb.fi.muni.cz/doc.html#download">download</a> section). If you have any further questions or suggestions, please feel free to <a href="mailto:claburedb@fi.muni.cz">contact us</a>.</p>
	<h3>Updates</h3>
	<ul>
	<li>Nov 19th 2012 &ndash; many more reports classified, added SVCOMP sub-database</li>
	<li>Aug 23rd 2012 &ndash; most of the uploaded reports sorted, added division by zero bugs</li>
	<li>May 21st 2012 &ndash; uploaded 339 "Leaving function in locked state" reports (sorting in progress)</li>
	<li>May 19th 2012 &ndash; minor interface updates</li>
	<li>May 1st 2012 &ndash; database published in this new shiny interface</li>
	<li>Apr 30th 2012 &ndash; some more locking errors from stanse</li>
	</ul>
 </div>

<h1>Listing categories: </h1>

	<table class="categories" style="margin-left:auto;margin-right:auto;">
	  <thead class="header">
	  	<tr>
		    <th>Category<br/><span class="description">Description</span></th>
			<th>Real errors</th>
			<th>False positives</th>
			<th>Unclassified</th>
			<th>Overall count</th>
		</tr>
	  </thead>
	  <tbody>
		<%
		real_count = 0
	    false_count = 0
	    unclass_count = 0
	
		@types.each do |type| %>
		<% next if type.overall_count == nil || type.overall_count == 0 %>
		<% real_count+= type.real_count
	       false_count += type.false_count
	       unclass_count += type.unclass_count
	    %>
		  <tr>
		    <td>
		    	<h5><%= type.name %>
					<% if type.long_description != nil %>
						&nbsp;<img src="/assets/info10.png" alt="info" title="<%= type.long_description %>" />
					<% end %>
					<% if type.CWE_error != nil %>
						&nbsp;&nbsp;<a href="http://cwe.mitre.org/data/definitions/<%= type.CWE_error %>.html"><img src="/assets/cwe10.png" alt="CWE" title="CWE number: "/></a><span class="CWE_number"><%= type.CWE_error %></span>
					<% end %>
				</h5>
				<span class="description">
		    		<%= type.short_description %>
				</span>
			</td>
			<td class="count">
				<% if type.real_count != nil && type.real_count != 0 %>
				<a href="/type/<%= type.id %>/1"><%= type.real_count %></a>
				<% else %>
					<%= type.real_count %>
				<% end %>
			</td>
			<td class="count">
				<% if type.false_count != nil && type.false_count != 0 %>
				<a href="/type/<%= type.id %>/-1"><%= type.false_count %></a>
				<% else %>
					<%= type.false_count %>
				<% end %>
			</td>
			<td class="count">
				<% if type.unclass_count != nil && type.unclass_count != 0 %>
				<a href="/type/<%= type.id %>/0"><%= type.unclass_count %></a>
				<% else %>
					<%= type.unclass_count %>
				<% end %>
			</td>
			<td class="count">
				<% if type.overall_count != nil && type.overall_count != 0 %>
				<a href="/type/<%= type.id %>"><%= type.overall_count %></a>
				<% else %>
					<%= type.overall_count %>
				<% end %>
			</td>
		  </tr>
		<% end %>
		
		<% if real_count+false_count+unclass_count %>
		  <tr class="dark">
		    <td>
		    	<h5>
				    <a href="/type/all">All categories</a>
				</h5>
				<span class="description"></span>
			</td>
			<td class="count">
				<% if real_count != nil && real_count != 0 %>
				<a href="/type/all/1"><%= real_count %></a>
				<% else %>
					<%= real_count %>
				<% end %>
			</td>
			<td class="count">
				<% if false_count != nil && false_count != 0 %>
				<a href="/type/all/-1"><%= false_count %></a>
				<% else %>
					<%= false_count %>
				<% end %>
			</td>
			<td class="count">
				<% if unclass_count != nil && unclass_count != 0 %>
				<a href="/type/all/0"><%= unclass_count %></a>
				<% else %>
					<%= unclass_count %>
				<% end %>
			</td>
			<td class="count">
				<% if real_count+false_count+unclass_count != 0 %>
				<a href="/type/all"><%= real_count+false_count+unclass_count %></a>
				<% else %>
					<%= real_count+false_count+unclass_count %>
				<% end %>
			</td>
		  </tr>
		<% end %>
		  	
	  </tbody>
	</table>
<br />

