 <div>
	<p>This is a database of known bugs and false positives in real
	software projects. So far, we support the
	<a href="http://www.kernel.org/">Linux Kernel</a> 2.6.28
	(<a href="http://claburedb.fi.muni.cz/pkg.html">package</a>) and
	<a href="http://sv-comp.sosy-lab.org/2012/">Software Competition
	2012</a>. The main purpose of the database is to support research and
	development in the area of bug-finding techniques and tools by
	providing data for their automatic evaluation.</p>
	<p>We are currently focused on filling the database. We plan to
	support more software projects. This web interface is still to be
	extended. For example it currently lacks support for database
	upload.</p>
	<p>There is also a page with <a href="http://claburedb.fi.muni.cz/doc.html">documentation</a>.
	If you have any further questions or suggestions, please feel
	free to <a href="mailto:claburedb@fi.muni.cz">contact us</a>.</p>
	<h3>Updates</h3>
	<ul>
	<li>Jan 17th 2013 &ndash; added SV-COMP 2013</li>
	<li>Dec 6th 2012 &ndash; complete redesign of the system, it's safer,
	faster and easier to navigate</li>
	<li>Nov 19th 2012 &ndash; many more reports classified, added SVCOMP
	sub-database</li>
	<li>Aug 23rd 2012 &ndash; most of the uploaded reports sorted, added
	division by zero bugs</li>
	<li>May 21st 2012 &ndash; uploaded 339 "Leaving function in locked
	state" reports (sorting in progress)</li>
	<li>May 19th 2012 &ndash; minor interface updates</li>
	</ul>
 </div>

<h1>Listing projects</h1>
<table style="margin-left: auto; margin-right: auto;" class="categories">
  <thead class="header">
    <tr>
	<th>Project<br/><span class="description">description</span></th>
	<th>Real errors</th>
	<th>False positives</th>
	<th>Unclassified</th>
	<th>Overall count</th>
	<th>Download</th>
    </tr>
  </thead>
  <tbody>
	<% @projects.each do |project| %>
	  <tr>
	    <td><h5><%= link_to(project.name, project_path(project.db_idx)) %></h5>
			<span class="description">
	    		<%= project.description %>
			</span>
		</td>
		<td class="count"><%= condLink(project.real_count, project_errors_path(project.db_idx, :marking => "1")) %></td>
		<td class="count"><%= condLink(project.false_count, project_errors_path(project.db_idx, :marking => "-1")) %></td>
		<td class="count"><%= condLink(project.unclass_count, project_errors_path(project.db_idx, :marking => "0")) %></td>
		<td class="count"><%= condLink(project.overall_count, project_errors_path(project.db_idx)) %></td>
		<td style="text-align: center;"><h5><%= link_to('Link', download_project_path(project.db_idx)) %></h5></td>
	  </tr>
	<% end %>
  </tbody>
</table>
<br />

