<p id="notice"><%= notice %></p>
<h3>Showing error <%= @error.id %></h3>
  <%= render :partial => "shared/error_details_table" %>
<br/>
<% if @source_output != "" %>
	<hr/>
	<h3>Source: </h3>
	<%= @source_output %>
<% end %>
<%=
if params[:full] != 'yes'
	link_to('Show full sources',
		project_error_path(project_id(), @error.id, :full => 'yes'))
end
%>
