<p id="notice"><%= notice %></p>
<h3>Showing error <%= @error.id %></h3>
<table class="categories">
  <%= render(:partial => "shared/error_details_table", locals: { full: 1 }) %>
</table>
<br/>
<% if @source_output != nil %>
	<hr/>
	<h3>Source: </h3>
	<%= @source_output %>
<%=
if params[:full] != 'yes'
	link_to('Show full sources',
		project_error_path(project_id(), @error.id, :full => 'yes',
			:anchor => "n" + (@error.loc_line-5 < 1 ? 1 : @error.loc_line-5).to_s))
end
%>
<% else %>
<h3>Sources not available!</h3>
<% end %>
