

<%= javascript_include_tag params[:controller] %>
<%= stylesheet_link_tag params[:controller] %>

<h1>Listing projects: </h1>
<center>
<table class="categories">
  <thead class="header">
    <th>Project<br/><span class="description">description</span></th>
	<th>Real errors</th>
	<th>False positives</th>
	<th>Unclassified</th>
	<th>Overall count</th>
  </thead>
  <tbody>
	<% @projects.each do |project| %>
	  <tr>
	    <td><h5><a href="/project/project/<%= project.id %>"><%= project.name %></a></h5>
			<span class="description">
	    		<%= project.description %>
			</span>
		</td>
		<td class="count"><a href="/project/project/<%= project.id %>/1"><%= project.real_count %></a></td>
		<td class="count"><a href="/project/project/<%= project.id %>/-1"><%= project.false_count %></a></td>
		<td class="count"><a href="/project/project/<%= project.id %>/0"><%= project.unclass_count %></a></td>
		<td class="count"><a href="/project/project/<%= project.id %>"><%= project.overall_count %></a></td>
	  </tr>
	<% end %>
  </tbody>
</table>
</center>
<br />

