<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>ClabureDB</title>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'jquery.js' %>
  <%= javascript_include_tag 'errors.js' %>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31414140-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
</head>
<body>
	<div id="content_wrap">
		<a href="#top" name="top"></a>
		<div class="top_bar">
		<h1 class="main_title"><%= link_to('/index') do %>
			<span style="color:#001010;">Clabure</span><span style="color:#e03040;">DB</span>: Classified Bug-Reports Database
		<% end %></h1>
			<div style="margin-bottom: 2ex;">
				<%= render :partial => "shared/database_select" %>
			</div>
			<form action="/search/" method="post">
				<div class="menu_bar">
					<%= link_to 'Show All Errors', '/type/all/'%> |
					    <a href="/tools/">Show tools</a>
					<span class="search_bar">
					<input id="search_input" type="text" name="search" value="Search filename..." />
					</span>
				</div>
			</form>
				<!--RegExp? <input type="checkbox" name="regexp" value="true"/>-->
		</div>
		<br/>
		<%= yield %>
	</div>
	<div id="top_box">
		<a href="#top">&uarr;</a>
	</div>
</body>
</html>
