<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>ClabureDB</title>
<% if project_id() != nil %>
  <script type="text/javascript">
	var project_id = <%= project_id() %>;
  </script>
<% end %>
  <%= favicon_link_tag("favicon.ico") %>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'jquery.js' %>
  <%= javascript_include_tag 'errors.js' %>

<% if Rails.env.production? %>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31414140-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
<% end %>
</head>
<body>
	<div id="content_wrap">
		<a href="#top" name="top"></a>
		<div id="top_wrap">
		<div id="top_bar">
		<h1 class="main_title"><%= link_to('/') do %>
			<span style="color:#001010;">Clabure</span><span style="color:#e03040;">DB</span>: Classified Bug-Reports Database
		<% end %></h1>
		<% if project_id() != nil %>
			<h3><b>Project:</b> <%= link_to(ProjectInfo.first.name, project_path(project_id())) %></h3>
			<%= form_tag(project_path(project_id()) + '/search', :method => "get") do %>
				<div class="menu_bar"><b>Show:</b>
					<%= link_to('All Errors', project_errors_path(project_id())) %> |
					<%= link_to('Tools', project_tools_path(project_id())) %> |
					<%= link_to('Users', project_users_path(project_id())) %>
					<span class="search_bar">
						<input id="search_input" type="text" name="search" value="Search filename..." />
					</span>
				</div>
			<% end %>
		<% end %>
		</div>
		</div>
		<div id="body_wrap">
			<%= yield %>
		</div>
	</div>
	<div id="top_box">
		<a href="#top">&uarr;</a>
	</div>
</body>
</html>
